<template name="form">
  <h2>{{header}}</h2>
  <form>
    {{#each field in fields}}
      <div>
        {{field.label}} 
        {{#if isType field.type 'enum'}}
          {{> dropdown options=field.options key=field.key onChange=onChangeFn}}
        {{else}}
          {{#if isType field.type 'calc'}}
            {{doCalc field}}
          {{else}}
            {{#if isType field.type 'map'}}
              {{> mapSelector mapName=field.mapName calcSuggestions=field.calcSuggestions searchDisplay=field.searchDisplay onChange=onChangeFn}}
            {{else}}
              <input type="{{field.type}}" name="{{field.key}}" class="normal-field"/>
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
    {{/each}}
    <button class="submit">submit</button>
  </form>
</template>
